{
  "env": {
      "browser": true,
      "es6": true
  },
  "extends": [
      "airbnb-base"
  ],
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaVersion": 2018
  },
  "rules": {
    "import/extensions":[ 1,"ignorePackages"],
    'no-shadow': 0,
    'no-param-reassign': 0,
    'eol-last': 0,
    "import/no-extraneous-dependencies": "off"
  },
    settings: {
    'import/resolver': {
      node: {
        extensions: ['.js', '.jsx', '.ts', '.tsx'],
        paths: ['./src']
      }
    }
  }
}