<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do</title>
</head>
<body>
  <main>
    <div class="left">
        <button id="add-new-todo-list">Add List</button>
        <div id="inline-todo-list-form-section" class="no-display">
          <form action="" id="inline-list-form">
            <input type="text" name="" id="inline-list-form-input">
            <input type="button" value="Submit" id="add-todo">
          </form>
        </div>
        <div id="todo"></div>
      </div>
      <div class="right">
        <button id="add-new-todo-item">New Item</button>
        <input type="text" id="todo-items-index">
          <div id="inline-todo-item-form-section" class="no-display">
            <form action="" id="inline-todo-item-form">
              <input type="text" id="title">
              <input type="text" id="note">
              <input type="date" id="dueDate">
              <input type="button" value="Submit" id="add-todo-item">
            </form>
          </div>
        <div id="todo-items"></div>
      </div>  
  </main>
</body>
</html>