<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do</title>
</head>
<body>
<div>
  <button id="add-new-list">Add List</button>
  <div id="inline-list-form-section" class="no-display">
    <form action="" id="inline-list-form">
      <input type="text" name="" id="inline-list-form-input">
      <input type="button" value="Submit" id="inline-list-form-submit">
    </form>
  </div>
  <div id="todo"></div>
</div>
<div id="todo-items"></div>
  
</body>
</html>