<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To Do</title>
</head>
<body>
  <header>Simple &#10003; Todo</header>
  <main>
    <div class="left">
        <button title="Add New Todo List" class="btn-add" id="add-new-todo-list">+</button>
        <div id="inline-todo-list-form-section" class="no-display">
          <button title="close" class="btn-danger" id="close-todolist-form-panel">x</button>
          <form action="" id="inline-list-form">
            <input class="text-input" type="text" placeholder="type todo list name" id="inline-list-form-input">
            <input type="button" class="btn" value="Save" id="add-todo">
          </form>
        </div>
        <div id="todo"></div>
      </div>
      <div class="right">
        <button class="btn-add" title="Add Item to List" id="add-new-todo-item">+</button>
        <input type="hidden" id="todo-items-index">
          <div id="inline-todo-item-form-section" class="no-display">
            <button title="close" class="btn-danger" id="close-todolist-item-form-panel">x</button>
            <form action="" id="inline-todo-item-form">
              <input class="text-input" placeholder="type title" type="text" id="title">
              <input class="text-input" placeholder="brief description" type="text" id="note">
              <input class="text-input" type="date" id="dueDate">
              <input type="button" class="btn" value="Save" id="add-todo-item">
            </form>
          </div>
        <div id="todo-items"></div>
        <div id="inline-edit-todo-item-form-section" class="no-display">
            <button title="close" class="btn-danger" id="close-edit-todolist-item-form-panel">x</button>
            <form action="" id="inline-edit-todo-item-form">
              <p><input class="text-input" placeholder="type title" type="text" id="edit-title"></p>
              <p><input class="text-input" placeholder="brief description" type="text" id="edit-note"></p>
              <p><input class="text-input" type="date" id="edit-dueDate"> <em>mm/dd/yyyy</em></p>
              <input title="Save Edit" type="button" class="btn" value="Save" id="save-todo-item-edit">
            </form>
        </div>
      </div>  
  </main>
</body>
</html>