body {
  background-color: #0a0707;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}
header {
  font-size: 2em;
  font-family:cursive;
  text-align: center;
  margin: .4em 0 .4em 0;
  color: #3cb1ff;
}
main {
  display: flex;
 justify-content: center;
}
.left {
  margin: 0 .9em 0 0;
}
.right {
  margin: 0 4px 0 0;
}
.no-display {
  display: none;
}
#todo {
  height: 40vh;
  width: 20vw;
  border: solid .1em #d8c8c8;;
  padding: .2em;
}
#todo-items {
  height: auto;
  width: 40vw;
  border: solid .1em #d8c8c8;;
  padding: .2em;
}
.todo-list {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d8c8c8;
  margin-top: .3em;
}
.todo-list-item {
  border-bottom: solid 1px #d8c8c8;
  display: flex;
  justify-content: space-between;
}
.item-info {
  font-size: 1.2em;
  line-height: .98em;
  width: 90%;
  padding: .5em;
  border: solid 0 1px 0 1px #d8c8c8;
}
.item-info .due-date {
  color: #3cb1ff;
}
.item-actions {
  font-size: 1.2em;
  line-height: .6em;
  width: 10%;
  padding: .5em;
}
.btn, button {
  border-style: none;
  font-size: 1.3em;
  cursor: pointer;
}

.text-input {
  font-size: 1.2em;
}
.btn-danger {
  background-color: #c70c0c;
  color: #ffffff;
}
.btn-add {
  background-color: #025f09;
  color: #ffffff;
}
.btn-sm {
  font-size: .8em;

}
.show-todo-items {
  cursor: pointer;
  padding: .7em 0 .7em .7em;
  font-size: 1.4em;
  line-height: .9em;
  border: solid 1px #d8c8c8;
  width: 90%;
}
.show-todo-items:hover {
  color: #c71c1c;
}
.remove-todo-list {
  border-block-end-style: none;
}
.todoitem-complete {
  text-decoration-line: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #dbd7d7;
}
.todoitem-priority {
  color: #cf1111;
}
.input-warning {
  outline-color: #c70c0c;
  outline-style: solid;
  outline-width: 4px;
  font-size: 1.2em;
}
#inline-edit-todo-item-form-section {
  position: absolute;
  height: auto;
  width: 40vw;
  border: solid .1em #d8c8c8;;
  padding: .2em;
  top: 20vh;
  margin: auto;
  background-color: #0a0909fb;
}